/* ---------Semantic UI style offsets--------- */

/* Offset round Navbar edge */
.menu{
    border-radius: 0% !important;
    margin: 0rem !important;
}
/* ------------------------ */

/* Fix padding on items in Navbar */

.gt-home-button-navbar{
    padding: .5em .5em 0em .5em !important;
}
/* ------------------------------ */

/* ------------------------------------------ */


.top-container {
    background: radial-gradient(white, #f8f9fa, #f9dd8c);
  }

p {
    color: #e1493f;
    display: flex; 
    justify-content: center;
     min-height: 3em;
  }

/* Adjust homepage container */
.homepageContainer{
    margin-top: 1em
}
/* ------------------------- */